extends layout

block content
  .centered-nav.w3-bar.w3-theme-d5
      a.w3-bar-item.w3-button(href="/resources") Recursos
      a.w3-bar-item.w3-button(href="/profile") Profile
      a.w3-bar-item.w3-button(href="/news") News

  .w3-container.w3-padding-64.w3-theme-l5.text-center
    h1.welcome-message Add Resource

    form(action="/resources/add", method="post" enctype="multipart/form-data")
      .w3-card-4.custom-card
        .w3-container.w3-theme
          h2 Resource Details
        .w3-container
          label(for="type") Type:
          input.w3-input(type="text", name="type", required)
          label(for="title") Title:
          input.w3-input(type="text", name="title", required)
          label(for="subtitle") Subtitle:
          input.w3-input(type="text", name="subtitle")
          label(for="year") Year:
          input.w3-input(type="number", name="year")
          label(for="creationDate") Creation Date:
          input.w3-input(type="date", name="creationDate")
          label(for="author") Author:
          input.w3-input(type="text", name="author", required)
          label(for="visibility") Visibility:
          input.w3-input(type="text", name="visibility")
          label(for="tags") Tags (separated by commas):
          input.w3-input(type="text", name="tags")
          label(for="file") File:
          input.w3-input(type="file", name="file")
        .w3-container.w3-padding
          button.w3-button.w3-block.w3-theme-d1(type="submit") Add Resource

    a.w3-button.w3-block.w3-theme-d2.w3-margin-top(href="/") Back
