extends layout

block content
  .w3-bar.w3-theme-d3
    a.w3-bar-item.w3-button(href="/resources") Recursos
    a.w3-bar-item.w3-button(href="/profile") Profile
    a.w3-bar-item.w3-button(href="/news") News

  .w3-container.w3-padding-64.w3-theme-l5
    h2.w3-center Archive News

    // Search bar with filters
    .w3-row.w3-margin-bottom
      .w3-col.s12
        input.w3-input.w3-border(type="text" placeholder="Search...")

    each news in newsList
      .w3-card-4.w3-white.w3-margin-bottom
        .w3-container.w3-theme
          h3 #{news.title}
        .w3-container
          p(style="margin-bottom: 10px;") #{news.content}
          p
            small Created by: #{news.author}
          p
            small Date: #{news.date}
      br.w3-margin-bottom
