extends layout

block content
  .w3-container.w3-padding-64.w3-theme-l5
    .w3-container
      .w3-card-4.custom-card
        .w3-container.w3-theme
          h2 Registration Successful
        .w3-container
          p Welcome to the Archive! Your registration was successful.
          p You can now log in and start using the Archive.
        a.w3-button.w3-block.w3-theme-d1.w3-margin-top(href="/resources") Go to the resources page