extends layout

block content
  .w3-container.w3-padding-64.w3-theme-l5
    h1.welcome-message Educational Archive
  .w3-container
    .w3-card-4.custom-card
      .w3-container.w3-theme
        h2 Register
      form.w3-container(action="/register", method="post", enctype="multipart/form-data")
        .w3-section
          label(for="username") Username
          input.w3-input.w3-border(type="text", name="username", required)
        .w3-section
          label(for="name") Name
          input.w3-input.w3-border(type="text", name="name", required)
        .w3-section
          label(for="email") Email
          input.w3-input.w3-border(type="email", name="email", required)
        .w3-section
          label(for="password") Password
          input.w3-input.w3-border(type="password", name="password", required)
        .w3-section
          label(for="confirm_password") Confirm Password
          input.w3-input.w3-border(type="password", name="confirm_password", required)
        .w3-section
          label Choose User Level
          select.w3-select(name="level", required)
            option(value="admin") Admin
            option(value="producer") Producer
            option(value="consumer") Consumer
        .w3-section
          label Upload Profile Picture
          input.w3-input(type="file" name="profilePicture" accept="image/*")
        button.w3-button.w3-block.w3-theme-d1.w3-margin-top(type="submit") Register
        a.w3-button.w3-block.w3-theme-d1.w3-margin-top(href="/") Back
